@font-face {
    font-family: 'Roboto';
    src: url("../assets/font/Roboto-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(122, 110, 110);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slider_container {
    margin-top: 2rem;
    width: 80vw;
    border-radius: 1.1rem;
    overflow: hidden;
}

.container {
    display: flex;
}

.container>div>img {
    width: 80vw;
    height: 80vh;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
}

#switch1:checked ~ .slider_container .container {
    margin-left: 0;
}

#switch2:checked ~ .slider_container .container {
    margin-left: -80vw;
}
#switch3:checked ~ .slider_container .container {
    margin-left: -160vw;
}
#switch4:checked ~ .slider_container .container {
    margin-left: -240vw;
}

.container, .slider_text {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
    
}

#active {
    width: 6rem;
    display: flex;
    justify-content: space-between;
}

#active label {
    width: 2.5rem;
    height: 3rem;
}

.checkbox {
    border-radius: 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #18a3dd;
}

#active label:hover .checkbox {
    background: white;
}

#switch1:checked:hover ~ .bottom_container #active label:nth-child(1) .checkbox,
#switch2:checked:hover ~ .bottom_container #active label:nth-child(2) .checkbox,
#switch3:checked:hover ~ .bottom_container #active label:nth-child(3) .checkbox,
#switch4:checked:hover ~ .bottom_container #active label:nth-child(4) .checkbox{
    border: 0.15rem solid white;
}

#switch1:checked ~ .bottom_container #active label:nth-child(1) .checkbox,
#switch2:checked ~ .bottom_container #active label:nth-child(2) .checkbox,
#switch3:checked ~ .bottom_container #active label:nth-child(3) .checkbox,
#switch4:checked ~ .bottom_container #active label:nth-child(4) .checkbox{
    border: 0.15rem solid #18a3dd;
    background: transparent;
}

#switch1:active ~ .bottom_container #active label:nth-child(1) .checkbox,
#switch2:active ~ .bottom_container #active label:nth-child(2) .checkbox,
#switch3:active ~ .bottom_container #active label:nth-child(3) .checkbox,
#switch4:active ~ .bottom_container #active label:nth-child(4) .checkbox{
    border: 0.15rem solid #0f4962 !important;
    background: #0f4962;
}

.text_container {
    width: 60vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider_text>div {
    min-width: 60vw;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.slider_text {
    display: flex;
}

#switch1:checked ~ .bottom_container .text_container .slider_text {
    margin-left: 0;
}
#switch2:checked ~ .bottom_container .text_container .slider_text {
    margin-left: -60vw;
}
#switch3:checked ~ .bottom_container .text_container .slider_text {
    margin-left: -120vw;
}
#switch4:checked ~ .bottom_container .text_container .slider_text {
    margin-left: -180vw;
}

@media all and (max-width: 480px) {
    .container>div>img {
        height: 30vh;
    }

    .bottom_container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .text_container {
        width: 80vw;
    }
    
    .wrapper{
        gap: 1rem;
    }
    .slider_text>div {
        min-width: 80vw;
        font-size: 0.8em;
    }

    #switch1:checked ~ .bottom_container .text_container .slider_text {
        margin-left: 0;
    }
    #switch2:checked ~ .bottom_container .text_container .slider_text {
        margin-left: -80vw;
    }
    #switch3:checked ~ .bottom_container .text_container .slider_text {
        margin-left: -160vw;
    }
    #switch4:checked ~ .bottom_container .text_container .slider_text {
        margin-left: -240vw;
    }
}

